/* navbar */
.nav-side{
    width: 15em;
}

.search{
    width: fit-content;
}

form button{
  position: relative;
  top: 6px;
  height: 48px;
  color: #dcdcdc;
  background-color: #202020;
  outline: none;
  border: none;
}

.search-input{
  border: none !important;
  background-color: rgba(32, 32, 32, .5) !important;
  padding: 12px;
  width: 100%;
  /* text-color: #dcdcdc; */
}

.search-input[type=text] {
  color: #dcdcdc;
}

.search-input[type=text]:focus{
  outline: none;
  border-bottom: .5px solid #f3c669 !important;
}

#inputTag[type=file]{
  display: none;
}

.inputTag{
  position: relative;
  color: #dcdcdc;
  background-color: #202020;
  outline: none;
  border: none;
  margin: 10px auto;
  border-radius: 5%;
  width: fit-content;
  padding: 0 5px;
}

.inputTag:hover{
  background-color:rgba(243, 198, 105, .3);
}
.inputTag:active{
  position: relative;
  top: 2px;
}

label{
  cursor:pointer;
}

.profile{
  display: inline-block;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  /* background-image: url("../assets/anonim.jpg"); */
  background-size: contain;
  object-fit: cover;
}

.profile-button{
  outline: none;
  background-color: transparent;
  border: none !important;
}

.profile-button:hover{
  outline: none;
  background-color: transparent;
  border: none !important;
}

.profile-button:active{
  outline: none !important;
  background-color: transparent !important;
  border: none !important ;
}

.upload-image{
  position: relative;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
}

.profile:hover{
 background-color: inherit !important;
}

.profile:active{
  background-color: inherit !important;
  outline: none;
}

.profile:enabled{
  background-color: inherit !important;
  outline: none;
}
  
.bottom-line{
  width: 100%;
  border-bottom: 1px solid #424242;
}
/* content main page  */
.box{
  width: 14vw;
  margin: 0 3px;
  font-size: 12px;
  cursor: pointer;
  background-color: #00fbff;
}

.box img:hover{
 background-color: rgba(228, 0, 0, 0.8) !important;
}

.box img{
  width: 100%;
  height: 420px;
}

.box i{
  --ggs: 0.8;
}

.box div{
  background-color: #424242;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}

.carousel .arrow {
  width: 3em;
  text-align: center;
  border: 1px solid white;
  cursor: pointer;
}

.slide>.text >p {
  color: #f3c669;
  font-size:14px;
}

.view{
  background-color: transparent;
  border: none;
  width: 50px;
}

/* footer */

.footer-banner-txt {
  width:600px;
  height: 250px;
  overflow: auto;
}

.overflow {
  width: fit-content;
  margin-top: 0px;
  padding-top: 200px;
  padding-bottom: 150px;
  line-height: 1.8;
}

.overflow img{
  height: 300px;
  margin-right: 20px;
}

.bottom-content{
  height: 35%;
  background: #202020;
}

.bottom-content .col{
  height: 300px;
}

.bottom-content .gap{
  margin: 50px 0 0 0;
}

.bottom-content .text-footer{
  height: 150px;

}

.bottom-content li{
  margin: 3px 0;
}

.bottom-content svg{
  color: #ffffff;
  width: 25px;
  height: 25px;
  margin: 0 20px 0 0;
}

/* button submit  */
.form-btn-submit:hover{
  background-color:rgba(243, 198, 105, .3) !important;
}

.form-btn-submit:active{
  position: relative;
  top: 2px;
}